<?config.xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="course" class="ru.izium.spring.di.Course">
        <constructor-arg type="java.lang.String" value="Spring+Hibernate"/>
        <constructor-arg type="int" value="32"/>
    </bean>

    <bean name="student" class="ru.izium.spring.di.Student">
        <constructor-arg ref="course"/>
        <constructor-arg type="java.lang.String" value="Ivanov Ivan"/>
    </bean>

    <bean id="teacher" class="ru.izium.spring.di.Teacher">
        <property name="student" ref="student"/>
        <property name="course" ref="course"/>
    </bean>

</beans>
