<?config.xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:annotation-config/>

    <bean id="student" class="ru.izium.spring.di.Student">
        <property name="fio" value="Петр Петров"/>
    </bean>

    <bean id="java" class="ru.izium.spring.di.Course">
        <constructor-arg name="name" value="Spring+Hibernate"/>
        <constructor-arg name="duration" value="21"/>
    </bean>

    <bean id="python" class="ru.izium.spring.di.Course">
        <constructor-arg name="name" value="Python+Web"/>
        <constructor-arg name="duration" value="32"/>
    </bean>

    <bean id="teacher" class="ru.izium.spring.di.Teacher"/>


</beans>
